<div class="col-lg-4 col-lg-offset-5">
        <div class="row">
            <div class="col-md-6">
                <h2 i18n="@@resetPassword">Reset your password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="form" (ngSubmit)="reset()">
                    <div class="form-group">
                        <extended-control [control]="email" [formsubmitted]="formSubmitted" labeltext="Enter your Email" i18n-labeltext="Reset password|@@enterYourEmail" >
                            <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Email" i18n-placeholder="Email placeholder|@@email">
                        </extended-control>
                    </div>
                    <div class="form-group">
                            <label for="newPassword" i18n="@@newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="New password" i18n-placeholder="New password placeholder|@@newPassword">
                    </div>
                    <div class="form-group">
                            <label for="confirmPassword" i18n="@@confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password" i18n-placeholder="Confirm password placeholder|@@confirmPassword">
                    </div>
                    <div class="form-group">
                            <label for="code" i18n="@@confirmResetCode">Confirmation reset Code</label>
                            <input type="text" class="form-control" id="code" name="code" formControlName="code" placeholder="Code" i18n-placeholder="Code placeholder|@@code">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid" i18n="@@reset">Reset</button>
                    <button class="btn btn-default" [routerLink]="['/app/login']" i18n="@@cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>