<div class="col-lg-4 col-lg-offset-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Reset your password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="form" (ngSubmit)="reset()">
                    <div class="form-group">
                        <extended-control [control]="email" [formsubmitted]="formSubmitted" [labeltext]="'Enter your Email'">
                            <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Email">
                        </extended-control>
                    </div>
                    <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="New password">
                    </div>
                    <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password">
                    </div>
                    <div class="form-group">
                            <label for="code">Confirmation reset Code</label>
                            <input type="text" class="form-control" id="code" name="code" formControlName="code" placeholder="Code">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Reset</button>
                    <button class="btn btn-default" [routerLink]="['/app/login']">Cancel</button>
                </form>
            </div>
        </div>
    </div>