
<div style="margin:0px;">
    <div [style.background-color]="appointment.color">
        <div *ngIf="appointment.patientID" class="borrower-selected" (dblclick)="showInfo()">
            <i class="fa fa-user" cli></i> {{appointment.patientName}}
            <button pButton type="button" class="borrower-selected-remove ui-button-danger" icon="fa fa-times" (click)="remove()" style="float: right;"></button>
        </div>
        
        <button *ngIf="appointment.patientID && !appointment.hasNext"(click)="extend()" 
            pButton class="ui-button-secondary circle-button" icon="fa fa-angle-down" >
        </button>
    </div>
</div>

