.borrower-selected {
    //display: inline-block;
    border: 1px solid #c0c0c0;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;

    &::after {
        content: '';
        display: block;
    }

    .borrower-selected-remove {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        .ui-button-text {
            padding: .1rem;
        }
    }
}

.circle-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    .ui-button-text {
        padding: .1rem;
    }
}

div.ui-inputgroup {
    .btn {
        margin-right: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    span {
        margin-right: auto;
        width: 100%;
    }
}
