.today {
    text-align: center; 
    background-color:#e8fde7
}

.notToday {
    text-align: center;
}

.center {
    text-align: center;
}

.circle-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    .ui-button-text {
        padding: .1rem;
    }
}