<div [formGroup]="form">
    <div>
        <paginator (onPeriodChanged)="perionChanged($event)"></paginator>
        <p-table [columns]="cols" [value]="rows" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th></th>
                    <ng-container *ngFor="let col of columns">
                        <th [ngClass]="{'center':true}" [ngStyle]="{'background-color': col.isToday ? '#e8fde7' : 'default'}">
                            <div >
                                <b>{{col.dayOfWeek}}</b>
                                <br>
                                <span>{{col.dayOfMonth}}</span>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-j="rowIndex" >
                <tr>
                    <td>{{row.time}}</td>
                    <ng-container *ngFor="let col of cols; let i = index;">
                        <td [ngStyle]="{'background-color': (i == 5 || i == 6) ? 'beige' : 'default'}" style="padding: 0.1em 0.1em">  
                            <appointment formControlName="{{j*cols.length + i}}" 
                                (onAdd)="appointmentAdded($event);" 
                                (onRemove)="appointmentRemoved($event)"
                                (onExtend)="appointmentExtended($event)">
                            </appointment>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
            </ng-template>
        </p-table>
    </div>
</div>
